{% extends "base.html" %}

{% block content %}
    <div class="modal leaderboards-modal">
        <div class="upper-rankings">
            <div class="ranking">
                <h2>Top Lovers of the Week</h2>
                <ul>
                </ul>
            </div>
            <div class="ranking">
                <h2>Most Loved of the Week</h2>
                <ul>
                </ul>
            </div>
        </div>
        <div class="lower-rankings">
            <div class="ranking">
                <h2>Top Lovers of All Time</h2>
                <ul>
                </ul>
            </div>
            <div class="ranking">
                <h2>Most Loved of All Time</h2>
                <ul>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
