<!DOCTYPE html>
<html>
    <head>
        <title>StyleSeat &hearts;</title>
    </head>

    <body>
        <nav>
            <div class="logo-container">
                <div class="logo-styleseat"></div>
                <div class="logo-heart"></div>
            </div>
            {% if logged_in %}
                <ul class="nav-links">
                    <li>Send Love</li>
                    <li>My Love</li>
                    <li>Leaderboards</li>
                <ul>
            {% endif %}
            <div class="sign-in">Sign In</div>
        </nav>
        {% block content %}{% endblock content %}
        <footer></footer>
    </body>
</html>
