{% extends "base.html" %}

{% block content %}
    <div class="modal profile-modal">
        <div class="left-content">
            <h2>Recieved Love</h2>
            <ul class="profile-love">
                {% if recieved_loves %}
                   {% for love in recieved_loves %}
                       <li>
                            {{ love.sender.first_name }} {{ love.sender.last_name }}
                            {{ love.text }}
                       </li>
                   {% endfor %}
                {% else %}
                    <li>No one has loved you yet. Don't worry, I love you!</li>
                {% endif %}
            </ul>
        </div>
        <div class="right-content">
            <h2>Sent Love</h2>
            <ul class="profile-love">
                {% if sent_loves %}
                   {% for love in sent_loves %}
                       <li>

                        <div class="">{{ love.sender.first_name }} {{ love.sender.last_name }}
                        {{ love.text }}
                        </li>
                   {% endfor %}
                {% else %}
                    <li>You haven't loved anyone yet you scrooge!</li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
